@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: hsla(0, 0%, 0%, 0.8);
  background-color: hsla(0, 0%, 100%, 1);
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}